  <head>
    <title>{{ title }}</title>
  </head>
  <body style=" 
  background: url(assets/back.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
  
  ">
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="assets/logo-ransparent.png" 
            alt="" width="165" height="45"
            class="d-inline-block"
            style="border-radius: 5px;"
             >
          </a>
          <form class="d-flex">
            <p>Search</p>
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            
          </form>
    </div>
  </nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="bg-dark text-center fix-footer">
  <div class="text-center text-white p-2">
    © 2021 Copyright: Luis COV
  </div>
</footer>
  </body>

